@page "/"
@using Menees.Chords
@using Menees.Chords.Formatters
@using Menees.Chords.Parsers
@using Menees.Chords.Transformers

<PageTitle>Menees Chord Sheet Converter</PageTitle>

<div class="row">
    <div class="col">
        <div class="row">
            <div class="col">
                <label for="from">From:</label>
                <select id="from" @bind="@FromType" @bind:event="onchange">
                    <option value="General">General</option>
                    <option value="ChordPro">ChordPro</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea @bind="@Input" @bind:event="oninput" rows="@TextAreaRows" class="w-100"></textarea>
            </div>
        </div>
    </div>
    <div class="col-auto">
        <div class="row">
            <div class="col">
                <button class="btn btn-primary" @onclick="ConvertInput">Convert</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>
                    <input type="checkbox" @bind="whenTyping" @bind:event="onchange" /> When Typing
                </label>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <label for="to">To:</label>
                <select id="to" @bind="@ToType" @bind:event="onchange">
                    <option value="ChordPro">ChordPro</option>
                    <option value="MobileSheets">MobileSheets</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <textarea @bind="@output" rows="@TextAreaRows" class="w-100" readonly="true"></textarea>
            </div>
        </div>
    </div>
</div>



@code {
    private const int TextAreaRows = 20;

    private string fromType = "General";
    private string toType = "ChordPro";
    private string input = string.Empty;
    private string output = string.Empty;
    private bool whenTyping = true;

    public string FromType
    {
        get => this.fromType;
        set
        {
            if (this.fromType != value)
            {
                this.fromType = value;
                this.ConvertInput();
            }
        }
    }

    public string ToType
    {
        get => this.toType;
        set
        {
            if (this.toType != value)
            {
                this.toType = value;
                this.ConvertInput();
            }
        }
    }

    public string Input
    {
        get => this.input;
        set
        {
            if (this.input != value)
            {
                this.input = value;
                if (this.whenTyping)
                {
                    this.ConvertInput();
                }
            }
        }
    }

    private void ConvertInput()
    {
        if (string.IsNullOrWhiteSpace(this.input))
        {
            this.output = string.Empty;
        }
        else
        {
            DocumentParser parser = new(this.fromType == "ChordPro"
                ? DocumentParser.ChordProLineParsers
                : DocumentParser.DefaultLineParsers);
            Document inputDocument = Document.Parse(this.input, parser);

            ChordProTransformer transformer = this.toType == "MobileSheets"
                ? new MobileSheetsTransformer(inputDocument)
                : new ChordProTransformer(inputDocument);
            Document outputDocument = transformer.ToChordPro().Document;

            TextFormatter formatter = new(outputDocument);
            this.output = formatter.ToString();
            this.StateHasChanged();
        }
    }
}